body{
    display: flex;
    flex-direction: column;

    height: 100vh;
    margin: 0;

    font-family: sans-serif;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 5%;
    padding-bottom: 30px;
    background-color: #1f2937;
}

.header-title{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a{
    text-decoration-line: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 5%;
    padding-bottom: 50px;

    background-color: #1f2937;
}

.hero-text{
    max-width: 450px;
}

.main-text{
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 4px 24px;
    font-weight: 700;
    color: #f9faf8;
}