body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    height: 100vh;
    margin: 0;

    font-family: sans-serif;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 5%;
    padding-bottom: 30px;
    background-color: #1f2937;
}

.header-title{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a{
    text-decoration-line: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 5%;
    padding-bottom: 50px;

    background-color: #1f2937;
}

.hero-text{
    max-width: 450px;
    min-width: 300px;
}

.main-text{
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 4px 24px;
    font-weight: 700;
    color: #f9faf8;
}

.hero img{
    max-width: 500px;
    height: auto;
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.info-text{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

    padding: 16px;
    
}

.illust-info-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.illust-info-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

}

.illust{
    border: 5px solid;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 50px;
    border-color: #3882f6;
}

.text{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

.quote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 50px 15%;

    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-credit{
    display: flex;
    align-self: flex-end;
}

.sign-up{
   margin: 5%;
   margin-bottom: 5%;
   border: 5%;
   background-color: #3882f6;

   display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
    

.big-text{
    font-size: 36px;
    color: #f9faf8;
}

.small-text{
    color: #e5e7eb;
    margin: 4px;
}

.sign-up button{
    border-radius: 10px;
    padding: 4px 24px;
    font-weight: 700;
    background-color: transparent;
    color: #f9faf8;
    border: 1px #f9faf8 solid;
}